sourceDir = "~/dotfiles"
[edit]
    command = "nvim"

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1egknaun37gxay7jyzh7zkptl2nxye3zee39uqej7p6ypaxkfduesgfrya5"
