#!/bin/sh

if [ ! -f "~/.config/chezmoi/key.txt" ]; then
    mkdir -p "~/.config/chezmoi"
    chezmoi age decrypt --output "~/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "~/.config/chezmoi/key.txt"
fi
