#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

# Dock
# set dock to left
defaults write com.apple.dock "orientation" -string "left" && killall Dock

# change docker icon size
defaults write com.apple.dock "tilesize" -int "16" && killall Dock

# auto hide dock
defaults write com.apple.dock "autohide" -bool "true" && killall Dock

# change speed auto hide animation
defaults write com.apple.dock "autohide-time-modifier" -float "0.5" && killall Dock

# change speed auto hide delay
defaults write com.apple.dock "autohide-delay" -float "0.5" && killall Dock

# remove show recents
defaults write com.apple.dock "show-recents" -bool "false" && killall Dock

# animation effect
defaults write com.apple.dock "mineffect" -string "genie" && killall Dock

# show active application only
defaults write com.apple.dock "static-only" -bool "true" && killall Dock

# Screenshot
# include date
defaults write com.apple.screencapture "include-date" -bool "true" 

# set save in ~/Desktop
defaults write com.apple.screencapture "location" -string "~/Desktop" && killall SystemUIServer

# display thumbnail
defaults write com.apple.screencapture "show-thumbnail" -bool "true" 

# default format is png
defaults write com.apple.screencapture "type" -string "png" 

# Safari
# show full url
defaults write com.apple.safari "ShowFullURLInSmartSearchField" -bool "true" && killall Safari

# Finder
# show quit finder
defaults write com.apple.finder "QuitMenuItem" -bool "true" && killall Finder

# show extensions files
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "true" && killall Finder

# show hidden files
defaults write com.apple.finder "AppleShowAllFiles" -bool "true" && killall Finder

# show path files
defaults write com.apple.finder "ShowPathbar" -bool "true" && killall Finder

# keep folder on top
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true" && killall Finder

# show title bar icons
defaults write com.apple.universalaccess "showWindowTitlebarIcons" -bool "true" && killall Finder

# set sidebar icon size small
defaults write NSGlobalDomain "NSTableViewDefaultSizeMode" -int "1" && killall Finder

# Desktop
# keep folder on top
defaults write com.apple.finder "_FXSortFoldersFirstOnDesktop" -bool "true" && killall Finder

# Menubar
# set digital clock
defaults write com.apple.menuextra.clock "DateFormat" -string "\"EEE HH:mm:ss\"" 
