layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  cwd "/Users/dev/dotfiles"
  tab name="Dotfiles" focus=true {
    pane split_direction="vertical" {
      pane command="nvim" borderless=true {
        args ".stowrc"
      }
      pane split_direction="horizontal" size="35%" {
        pane focus=true name="Terminal"
      }
    }
  }
}
