layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  cwd "~/Code/Lumin"
  tab name="1. lumin-web-backend" cwd="lumin-web-backend-2.0"{
    pane split_direction="vertical"{
      pane command="nvim" size="65%" {
        args "package.json"
      }
      pane split_direction="horizontal" size="35%" {
        pane name="Server"
        pane focus=true name="Terminal"
      }
    }
  }

  tab name="2. lumin-auth" cwd="lumin-auth"{
    pane split_direction="vertical"{
      pane command="nvim" size="65%" {
        args "package.json"
      }
      pane split_direction="horizontal" size="35%" {
        pane name="Server"
        pane name="Kratos"
        pane focus=true name="Terminal"
      }
    }
  }

  tab name="3. static-font-icomoon" cwd="static-font-icomoon"{
    pane split_direction="vertical"{
      pane command="nvim" size="65%" {
        args "package.json"
      }
      pane split_direction="horizontal" size="35%" {
        pane name="Server"
        pane focus=true name="Terminal"
      }
    }
  }

  tab name="4. background services" {
    pane split_direction="vertical"{
      pane split_direction="horizontal" size="50%" {
        pane name="Redis"
        pane name="MeiliSearch"
        pane name="Mongo"
      }
      pane split_direction="horizontal" size="50%" {
        pane name="Server"
        pane focus=true name="Terminal"
      }
    }
  }
}
